.about-style{
    width: 300px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 250px;
    padding: 5px;
    border: 2px solid rgb(65, 64, 64);
}
.about-style img{
    border-radius: 10px;
    margin-bottom: 15px;
}